<main class="posts" role="main">
  <% @posts.each do |post| %>
    <article class="posts__item">
      <%= link_to post do %>
        <header>
            <h1 class="posts__title"><%= post.title %></h1>
            <p>Postado em <%= post.created_at.strftime('%c') %>
        </header>
        <p class="posts__body"><%= post.body.html_safe %></p>
      <% end %>
    </article>
      <% if user_signed_in? %>
        <%= link_to 'Ver', post %></td>
        <%= link_to 'Editar', edit_post_path(post) %></td>
        <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
  <% end %>
</main>
