<div class="post">
  <h1 class="post__title">
    <%= @post.title %>
  </h1>
  <p class="post__content">
    <%= @post.body.html_safe %>
  </p>
  <div class="post__buttons">
    <%= link_to 'Edit', edit_post_path(@post), class: "post__button post__button--edit" %>
    <%= link_to 'Back', posts_path, , class: "post__button post__button--back" %>
  </div>
</div>

<div class="comments">
  <h2 class="comments__title">Comentários</h2>
  <div class="comments__list">
    <%= render @post.comments %>
  </div>
  <div class="comments__form">
    <%= render 'comments/new', post: @post %>
  </div>
</div>
