<!DOCTYPE html>
<html>
<head>
  <title>Danilodev Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <div class="novo-post-wrapper">
      <%= link_to "Novo Post", new_post_path, class: "novo-post-btn" %>
    </div>
    <%= link_to "Sair", destroy_user_session_path, class: 'btn-logout',  :method => :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
